{% extends 'base.html' %}

{% block links %}
  <title>Boba Maps - About</title>
{% endblock %}

{% block body %}
{% load static %}
<div class="article-clean">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
              <div class="intro">
                  <h1 class="text-center" style="font-family: Raleway, sans-serif;">What is Boba Maps?</h1>
              </div>
              <div class="text">
                  <p style="font-family: Raleway, sans-serif; font-size: 20px">Boba Maps is a dynamic web application that helps you find local bubble tea shops in your area! Just simply type in an address in the search bar &amp; the site will quickly find shops in that location. It's desktop &amp; mobile friendly so you can find boba anywhere you go!</p>
              </div>
              <div class="intro">
                  <h1 class="text-center" style="font-family: Raleway, sans-serif;">How does it work?</h1>
              </div>
              <div class="text">
                  <p style="font-family: Raleway, sans-serif; font-size: 20px">To make things simple, Boba Maps uses the Yelp API to get information about each bubble tea shop while using the Google Maps JavaScript API to add each shop onto the map. This way, you get information about the shops, and see it's given location on a map.&nbsp;</p>
              </div>
              <div class="intro">
                  <h1 class="text-center" style="font-family: Raleway, sans-serif;">Is this like Yelp?</h1>
              </div>
              <div class="text">
                  <p style="font-family: Raleway, sans-serif; font-size: 20px">No. The intent of this site is to not duplicate Yelp at all. This is a fun project that helped me learn full stack web development. This web application complies with the API terms of use of both the Yelp &amp; Google Maps API. None of the data that is being requested from these two services are cached, recorded, or pre-fetched. Boba Maps also meets the Yelp API display requirements.&nbsp;</p>
              </div>
              <div class="intro">
                  <h1 class="text-center" style="font-family: Raleway, sans-serif;">Is it open source?</h1>
              </div>
              <div class="text">
                  <p style="font-family: Raleway, sans-serif; font-size: 20px">Yes! This web application is open source, licensed under the GNU General Public License v3.0. If you want to help contribute, or just see how the website runs, you are more than welcome to check out the repository on <a href="https://github.com/RiceAbove/Boba-Maps" target="_blank"> Github</a>. If you are lost or need help with going through the respository, don't be afraid to <a href="/contact">contact</a> me with any questions or concerns that you may have. Note: If you are making your own version of Boba Maps, or are contributing to this project, you are also subject to the API terms of use of both the Yelp &amp; Google Maps API.</p>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="text-center brands" style="padding: 40px">
  <a href="https://www.djangoproject.com/" target="_blank" style="text-decoration: none">
    <img src="{% static 'img/Django.png' %}" style="height: 64px; margin: 10px 20px;">
  </a>
  <a href="https://cloud.google.com/maps-platform/" target="_blank" style="text-decoration: none">
    <img src="{% static 'img/GoogleMaps.png' %}" style="height: 64px; margin: 10px 20px;">
  </a>
  <a href="https://bootstrapstudio.io/" target="_blank" style="text-decoration: none">
    <img src="{% static 'img/BootstrapStudio.png' %}" style="height: 64px; margin: 10px 20px;">
  </a>
  <a href="https://www.yelp.com/developers" target="_blank" style="text-decoration: none">
    <img src="{% static 'img/Yelp_trademark_RGB_outline.png' %}" style="height: 64px; margin: 10px 20px;">
  </a>
  <a href="https://github.com/RiceAbove/Boba-Maps" target="_blank" style="text-decoration: none">
    <img src="{% static 'img/Github.png' %}" style="height: 64px; margin: 10px 20px;">
  </a>
  <a href="https://www.heroku.com" target="_blank" style="text-decoration: none">
    <img src="{% static 'img/Heroku.png' %}" style="height: 64px; margin: 10px 20px;">
  </a>
  <!-- <img src="{% static 'img/Django.png' %}" style="height: 64px; margin: 10px 20px;">
  <img src="{% static 'img/GoogleMaps.png' %}" style="height: 64px; margin: 10px 20px;">
  <img src="{% static 'img/BootstrapStudio.png' %}" style="height: 64px; margin: 10px 20px;">
  <img src="{% static 'img/Yelp_trademark_RGB_outline.png' %}" style="height: 64px; margin: 10px 20px;">
  <img src="{% static 'img/Github.png' %}" style="height: 64px; margin: 10px 20px;">
  <img src="{% static 'img/Heroku.png' %}" style="height: 64px; margin: 10px 20px;"> -->
</div>

{% endblock %}
