{% extends 'base.html' %}

{% block links %}
  <title>Boba Maps - Contact</title>
{% endblock %}

{% block body %}
<div class="contact-clean">
  <form action="." method="post">{% csrf_token %}
      <h2 class="text-center" style="font-family: Raleway, sans-serif;">Contact me</h2>
        {% if success %}
          <div class="alert alert-success"> Message Sent! </div>
        {% endif %}
      {% for field in contact_form %}
        <div class="form-group">
          {{ field }}
        </div>
      {% endfor %}
      <div class="form-group text-center">
        <button class="btn btn-primary" type="submit">Send</button>
      </div>
  </form>
</div>
{% endblock %}
