{% extends 'base.html' %}

{% block links %}
  <title>Boba Maps - Contact</title>
{% endblock %}

{% block body %}
<div class="contact-clean">
  <form action="/contact" method="post">
      <h2 class="text-center" style="font-family: Raleway, sans-serif;">Contact me</h2>
      <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
      <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
      <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Subject"></div>
      <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
      <div class="form-group text-center">
        <button class="btn btn-primary" type="submit">Send</button>
      </div>
  </form>
</div>
{% endblock %}
