<div class="footer-basic">
    <footer style="font-family: Roboto, sans-serif;">
        <div class="social"><a href="https://github.com/RiceAbove" target="_blank"><i class="icon ion-social-github"></i></a><a href="https://www.linkedin.com/in/gico/" target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="https://twitter.com/RiceAbove" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://gicocarlo.me/" target="_blank"><i class="icon ion-laptop"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="../">Home</a></li>
            <li class="list-inline-item"><a href="#">Help</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
        </ul>
        <p class="copyright">RiceAbove © 2019</p>
    </footer>
</div>
