{% extends 'base.html' %}

{% block body %}
<div id="home" class="text-center">
        {% load static %}
        <div class="header-blue" style="background-image: url('{% static 'img/boba_wallpaper.jpeg' %}');">
            <div class="jumbotron text-center">
                <h1>Boba Maps</h1>
                <p>Find bubble tea shops in your area!</p>
                <p></p>
            </div>
            <div class="container">
                <form action="/shops" method='GET'>
                    <div class="form-group bg-white border rounded d-flex">
                      <input class="border-white form-control form-control-lg" type="text" name="address" placeholder="&quot;San Francisco, CA&quot;, &quot;SF&quot;, &quot;429 Stockton St, San Francisco, CA 94108&quot;" required>
                        <button class="btn btn-primary btn-lg border-white" type="submit">
                          <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <em>Image from bobaguys.com</em>
        </div>
    </div>
{% endblock %}
