<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
    <div class="container">
      <a href="/">Boba Maps</a>
      <button data-toggle="collapse" class="navbar-toggler"
            data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse text-left" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"></li>
            </ul>
            <form class="form-inline mx-auto" target="_self" action="/shops/" method='GET'>
                <div class="form-group">
                  <label for="search-field">
                  </label>
                </div>
                <div id="search" class="form-group border rounded d-flex">
                  <input class="border-white form-control" type="search" name="address" style="width: 287px;" placeholder="Enter location" required>
                  <button class="btn btn-primary border-white" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            </form>
            <div class="links">
              <a id="about-link" href="/about">About</a>
              <a id="contact-link" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
