<nav class="navbar navbar-dark navbar-expand-md sticky-top navigation-clean-search" style="background-color: rgba(255,255,255,0.7);">
    <div class="container"><a href="/" style="font-family: Raleway, sans-serif;color: #37434d;font-size: 25px;font-weight: normal;font-style: normal;padding-left: 0px;padding-bottom: 0px;padding-right: 19px;">Boba Maps</a><button data-toggle="collapse" class="navbar-toggler"
            data-target="#navcol-1" style="background-color: #aaaaaa;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-left" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"></li>
            </ul>
            <form class="form-inline mx-auto" target="_self" action="/shops/" method='GET'>
                <div class="form-group">
                  <label for="search-field">
                  </label>
                </div>
                <div class="form-group border rounded d-flex" style="width: 330px;margin-top: 8px;margin-bottom: 8px; background-color: #ffffff;">
                  <input class="border-white form-control" type="search" name="address" style="width: 287px;" placeholder="Enter location">
                  <button class="btn btn-primary border-white" type="submit" style="background-color: #ffffff;">
                    <i class="fa fa-search" style="color: #4b4c4d;"></i>
                  </button>
                </div>
            </form>
            <a href="/about" style="font-family: Raleway, sans-serif;font-weight: normal;color: #37434d;font-size: 18px;padding: 8px;padding-right: 8px;padding-left: 5px;">About</a>
            <a href="#" style="font-family: Raleway, sans-serif;font-weight: normal;color: #37434d;font-size: 18px;padding: 8px;padding-right: 8px;padding-left: 8px;">Contact</a>
          </div>
    </div>
</nav>
