<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color: rgba(255,255,255,0.7);">
    <div class="container"><a href="#" style="font-family: Raleway, sans-serif;color: #37434d;font-size: 25px;font-weight: bold;font-style: normal;padding-left: 0px;padding-bottom: 0px;padding-right: 19px;">Boba Maps</a><button data-toggle="collapse" class="navbar-toggler"
            data-target="#navcol-1" style="background-color: #aaaaaa;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-left" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"></li>
            </ul>
            <form class="form-inline mx-auto" target="_self">
                <div class="form-group"><label for="search-field"></label></div>
                <div class="form-group" style="width: 330px;"><input class="form-control" type="search" style="width: 330px;" placeholder="Enter location"></div>
            </form><a href="#" style="font-family: Raleway, sans-serif;font-weight: normal;color: #37434d;font-size: 18px;padding: 8px;padding-right: 8px;padding-left: 0px;">About</a><span class="navbar-text"> </span>
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="font-family: Raleway, sans-serif;font-weight: normal;font-size: 18px;color: #4b4c4d;">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
