{% extends 'base.html' %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'files/style.css' %}" type="text/css">
{% endblock %}

{% block body %}

<h1>This is the Boba Shops page</h1>

<ul>
  {% for boba in boba_list %}
    <p>{{ forloop.counter }}</p>
    <li>{{ boba.name }}</li>
    <li>{{ boba.url }}</li>
    <li>{{ boba.addresses }}</li>
    <li>{{ boba.rating }}</li>
  {% endfor %}
</ul>

{% endblock %}

{% block map %}
  <h1>Inside map</h1>
  <div id="map"></div>
  <script type="text/javascript" src="{% static 'files/script.js' %}"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd5cdzbtyzWuoA54FEYi9tPnPvhsMCnNs&callback=initMap" async defer></script>
{% endblock %}
