{% extends 'base.html' %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock %}

{% block body %}
{% load static %}
<div class="map-clean sticky-top">
  <!-- <iframe allowfullscreen="" frameborder="0" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO8TcyQgFQHbyV200XbdkFN6TRsFsbDMI&callback=initMap;zoom=13" width="100%" height="250"></iframe> -->
</div>
    <div class="d-inline map-clean" style="font-family: Raleway, sans-serif;font-size: 20px;font-weight: normal;">
      {% for boba in boba_list %}
        <div class="container text-left border rounded shadow d-block" style="margin-bottom: 16px;">
            <div class="intro" style="margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-right: 10px;padding-left: 15px;"></div>
            <div>
                <h2 class="text-left d-flex" style="margin-bottom: 10px;padding-top: 20px;padding-left: 0px;"> {{ forloop.counter }}. {{ boba.name }}</h2>
                <ul class="list-group">
                    <li class="list-group-item"><span>{{ boba.price }}</span></li>
                    <li class="list-group-item"><span>{{ boba.address }}</span></li>
                    <li class="list-group-item"><span>{{ boba.phone }}</span></li>
                    {% if boba.is_closed == "False" %}
                      <li class="list-group-item"><span>Open</span></li>
                    {% else %}
                      <li class="list-group-item"><span>Closed</span></li>
                    {% endif %}
                </ul>
                {% if boba.rating >= 5.0 %}
                  <img src="{% static 'img/5_star.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% elif boba.rating >= 4.5 %}
                  <img src="{% static 'img/4_star_half.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% elif boba.rating >= 4.0 %}
                  <img src="{% static 'img/4_star.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% elif boba.rating >= 3.5 %}
                  <img src="{% static 'img/3_star_half.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% elif boba.rating >= 3.0 %}
                  <img src="{% static 'img/3_star.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% elif boba.rating >= 2.5 %}
                  <img src="{% static 'img/2_star_half.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% elif boba.rating >= 2.0 %}
                  <img src="{% static 'img/2_star.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% elif boba.rating >= 1.5 %}
                  <img src="{% static 'img/1_star_half.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% elif boba.rating >= 1.0 %}
                  <img src="{% static 'img/1_star.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% else %}
                  <img src="{% static 'img/0_star.png' %}" style="width: 132px;height: 24px;margin: 0px;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;padding: 0px;padding-top: 0px;">
                {% endif %}

                <a href="{{ boba.url }}" target="_blank"><img class="float-right" style="width: 100px;" src="{% static 'img/Yelp_trademark_RGB_outline.png' %}"></a>
                <p class="text-left" style="margin-top: 5px;">Based on {{ boba.review_count }} reviews</p>
            </div>
        </div>
      {% endfor %}
    </div>

<!-- <ul>
  {% for boba in boba_list %}
    <p>{{ forloop.counter }}</p>
    <li>{{ boba.name }}</li>
    <li>{{ boba.url }}</li>
    <li>{{ boba.addresses }}</li>
    <li>{{ boba.rating }}</li>
  {% endfor %}
</ul> -->

{% endblock %}

{% block map %}
<div class="sticky-top">
    <div id="map"></div>
</div>
  <!-- <div id="map"></div> -->
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO8TcyQgFQHbyV200XbdkFN6TRsFsbDMI&callback=initMap" async defer></script>
{% endblock %}
