#rating {
  width: 132px;
  height: 24px;
  margin: 0px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0px;
  padding-top: 0px;
}

#map {
  height: 400px;
  width: 100%;
}
